<p>
  <label><%= l(:field_status) %></label>
  <label class="block">
    <%= radio_button_tag 'status', 1, custom_field.found_in_release_status.blank?, :id => 'custom_field_found_in_release_all',
                         :data => {:disables => '.custom_field_found_in_release_status input'} %>
    <%= l(:label_all) %>
  </label>
  <label class="block">
    <%= radio_button_tag 'status', 0, custom_field.found_in_release_status.present?, :id => 'custom_field_found_in_release_only',
                         :data => {:enables => '.custom_field_found_in_release_status input'} %>
    <%= l(:label_only) %>:
  </label>
  <% RbRelease::RELEASE_STATUSES.each do |status| %>
      <label class="block custom_field_version_status" style="padding-left:2em;">
        <%= check_box_tag 'custom_field[found_in_release_status][]',
                          status,
                          custom_field.found_in_release_status.is_a?(Array) && custom_field.found_in_release_status.include?(status),
                          :id => nil %>
        <%= l("found_in_release_status_#{status}") %>
      </label>
  <% end %>
  <%= hidden_field_tag 'custom_field[found_in_release_status][]', '' %>
</p>
<p><%= edit_tag_style_tag f %></p>
